/*********************************************************
    Buttons
*********************************************************/

.btn {
    display: inline-block;
    padding: 0 rem(10);
    height: rem(45);
    line-height: rem(45);
    font-size: font-scale(0);
    color: $color__white;
    background-color: $color__primary;
    border-radius: rem(4);
    border: 1px solid $color__primary;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $color__white;
        background-color: $color__primary--dark;
    }
    &--secondary {
        background-color: $color__secondary;
        border-color: $color__secondary;
        &:hover,
        &:focus {
            background-color: $color__secondary--dark;
        }
    }
    &--muted {
        color: $color__primary;
        background-color: transparent;
        border-color: $color__primary;
        &:hover,
        &:focus {
            background-color: $color__primary;
            border-color: $color__primary--dark;
        }
    }
    &--large {
        padding: rem(15) rem(25);
        font-size: rem(18);
    }
    &--disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }
    &--block {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}