/*********************************************************
    Header
*********************************************************/
.header {
  position: absolute;
  width: 100%;
  padding: 15px 0;
  background-color: $color__primary;
  z-index: 2;
  transition: background-color 0.4s ease-out;

  @include bp_md {
    padding: 10px 0;
  }

  &--is-fixed {
    @include bp_md {
      position: fixed;
      background-color: $color__primary--dark;
    }
  }

  &--is-open {
    height: 100vh;
    background-color: $color__primary--dark;
    z-index: 20;
  }

  &__btn-container {
    @include bp_md {
      float: right;
      @include clearFix();
      margin-top: 4px;
    }
  }


  &__logo {
    font-size: rem(20);
    @include bp_md {
      float: left;
      @include clearFix();
      padding: 12px 0;
    }
  }

  &__logo-text {
    color: $color__white;
  }

}
