/*********************************************************
    Hero
*********************************************************/
.hero {
  position: relative;
  height: 550px;
  //background: url('../img/bg-brick.png') 0 0 repeat;

  &--has-overlay {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba($color__secondary, 0.6);
      z-index: 1;
    }
  }

  &--bg-gradient {
    background-color: $color__secondary;
    background-image: linear-gradient(120deg, $color__secondary, $color__secondary--dark);
  }

  &__background-image {
    height: 100%;
  }

  &__logo { 
    width: 200px;
    height: 45px;
    margin: 0;
    background: url('../img/logo.png') 0 0 no-repeat;
  }

  &__content {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding-top: rem(90);
    color: $color__primary;
    z-index: 10;
    &--narrow {
      @include bp_md {
        max-width: 50%;
      }
    }
  }

  &__title {
    font-weight: 300;
    font-size: rem(26); 
    padding-top: rem(60);
    padding-bottom: rem(30);
    @include bp_md {
      font-size: rem(30);
    }
  }

  &__subtitle {
    margin: 0;
    color: $color__white;
  }

  &__btn-container {
    margin-top: 20px;
  }

}
