/*********************************************************
    Hero
*********************************************************/
.hero {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: rem(30);
  color: $color__white;
  z-index: 10;
  @include bp_md {
    height: calc(100vh - 71px);
    padding-top: rem(90);
  }

  &--pad-top-small {
    padding-top: rem(15);
    @include bp_md {
      padding-top: rem(45);
    }
  }

  &--has-img {
    background-image: url('../img/bg-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
  }

  &--has-overlay {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background: rgba($color__secondary, 0.6);
      z-index: 1;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg-hero-no-shape.png');
    background-repeat: no-repeat;
    background-size: cover;
    @include bp_md {
      width: 81vw;
    }
  }

  &--bg-gradient {
    background-color: $color__secondary;
    background-image: linear-gradient(120deg, $color__secondary, $color__secondary--dark);
  }

  &__background-image {
    height: 100%;
  }

  &__logo { 
    width: 200px;
    height: 45px;
    margin: 0;
    background: url('../img/logo-color.png') 0 0 no-repeat;
    &--white {
      background-image: url('../img/logo-white.png')
    }
  }

  &__content {
    @include bp_md {
      width: 65%;
    }
    &--white {
      * {
        color: $color__white!important;
      }
    }
  }

  &__title {
    padding-top: rem(45);
    padding-bottom: rem(30);
    font-weight: 300;
    font-size: rem(32); 
    font-weight: bold;
    color: $color__primary;
    @include bp_md {
      padding-top: rem(75);
      font-size: rem(42);
    }
  }

  &__subtitle {
    margin-bottom: rem(30);
    @include bp_md {
      margin: 0;
    }
  }

  &__form-title {
    color: $color__body;
    font-weight: bold;
    padding-top: rem(30);
    padding-bottom: rem(15);
  }

  &__form {
    margin-bottom: rem(10);
    padding: rem(30) rem(20);
    border-radius: 8px;
    color: $color__body;
    background: $color__white;
    box-shadow: 0 0 20px rgba($color__black, 0.25);
    &--pad-0 {
      padding: 0;
    }
    &--shadow-0 {
      box-shadow: none;
      background: transparent;
    }
    .form__btn-container {
      padding-top: rem(15);
    }
    a {
      color: $color__white;
      text-transform: uppercase;
      font-size: font-scale(1);
      font-weight: bold;
    }
    small {
      display: inline-block;
      padding-top: rem(30);
    }
    small span {
      color: $color__primary;
    }
  }

}
