/*********************************************************
    Global Page Rules
*********************************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $color__white;
  color: $color__body;
  font-family: $font-body;
  font-size: $font-base-font-size;
  font-weight: 300;
  line-height: $font-base-line-height;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $color__primary;
  transition: 0.2s color ease-out;
  &:hover {
    color: $color__primary--dark;
  }
}

.wrapper {
  width: 100%;
  margin: 0;
  padding-left: rem(30);
  padding-right: rem(30);
  overflow: hidden;
  @include bp_md {
    padding-left: rem(60);
    padding-right: rem(60);
  }
  @media (min-width: 1200px) {
    padding-left: rem(90);
    padding-right: rem(90);
  }
}

.page-section {
  padding-top: rem(30);
  padding-bottom: rem(30);

  &--pad-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  &--primary {
    color: white;
    background-color: $color__primary;
  }

  &--secondary {
    color: white;
    background-color: $color__secondary;
  }

  &--white {
    color: black;
    background-color: $color__white;
  }

  &--black {
    color: white;
    background-color: black;
  }

}

.interior-content {
  margin: 0 auto rem(30);
  img {
    display: block;
    max-width: 55%;
    margin: rem(200) auto rem(60);
    @include bp_md {
      margin: 0 0 rem(60);
      padding-right: rem(15);
      max-width: 95%;
    }
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: rem(30);
    font-weight: bold;
  }
}

ul {
  list-style-type: disc;
  padding-left: rem(20);
}