/*********************************************************
    Variables
*********************************************************/

/*********************************************************
    Colors
*********************************************************/
// color names
$orange: #ea8c2a;
$blue:   #323a45;
$l-blue: #bfe0f7;
$gold:   #fdbf29;
$navy:   #1a2940;
$white:  #ffffff;
$black:  #111111;
$grey:   #cfcfcf;
$l-grey: #e6e6e6;
$red:    #ff3434;
$green:    green;

// brand colors
$color__primary:     $orange;
$color__secondary:   $blue;
$color__tertiary:    $navy;
$color__accent:      $l-blue;
$color__body:        $black;
$color__border:      $grey;
$color__white:       $white;
$color__grey:        $l-grey; 
$color-success:      $green;
$color-error:        $red;

// brand colors--darkens
$color__primary--dark: darken($color__primary, 7%);
$color__secondary--dark: darken($color__secondary, 7%);
$color__tertiary--dark: darken($color__tertiary, 7%);
$color__body--dark: darken($color__body, 7%);
$color__border--dark: darken($color__border, 7%);

/*********************************************************
    Typography
*********************************************************/
$font-base-font-size: 1rem;
$font-ratio: 1.2;
$font-base-line-height: 1.5;

$font-heading: 'Roboto', sans-serif;
$font-body: 'Lato', sans-serif;

/*********************************************************
    Responsive Breakpoints
*********************************************************/
$bp_sm: 530px;
$bp_md: 800px;
$bp_lg: 999px;
